{% extends 'pages/base.html' %}
{% block title %}Image Storage - No DI{% endblock %}
{% block header_title %}Image Storage - No DI{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card p-3">
        <div class="card-header">Upload image</div>
        <div class="card-body">
          <form action="{% url 'imagenotdi_save' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">
              <label>Image:</label>
              <input type="file" name="profile_image" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

          {% if image_url %}
            <hr>
            <img src="{{ image_url }}" alt="Uploaded image" style="max-width: 100%; height: auto;">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
